* {
  box-sizing: border-box;
}

:root {
  --i: 0;
  --drag: 0px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #3aafa9;
}

.top-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* Styling Title */

.titleWrap {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}
.titleDiv {
  max-width: fit-content;
  font-size: clamp(1.5rem, 5vw, 2.75rem);
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
  color: #17252a;
  line-height: 2.5em;
  margin-top: 2em;
  margin-bottom: 0.25em;
}
/* Styling Nav Bar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Libre Baskerville", serif;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Styling Register & Login Forms */

form {
  max-width: 100%;
  margin: 5% auto;
  font-family: "Libre Baskerville", serif;
}
.formWrapper {
  display: flex;
}
.formWrapper1 {
  border: 5px solid #ccc;
  border-radius: 25px;
  background-color: white;
}
.formWrapper2 {
  border: 5px solid #ccc;
  border-radius: 25px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Sing In + Up Styling */
.signupbtn {
  width: 60%;
  border: 5px solid #ccc;
  border-radius: 25px;
}
.signinbtn {
  width: 60%;
  border: 5px solid #ccc;
  border-radius: 25px;
}

/* Add padding to container elements */
.container {
  padding: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;
  }
}

.rules-square {
  border: #ccc solid 10px;
  border-radius: 25px;
  width: 80%;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

#rule-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

h2,
h4,
h5 {
  font-family: "Abril Fatface", cursive;
  font-weight: bold;
}

/* --------------------------- Personal Page ------------------------------- */

/* Select Habits Form */
.wrapper {
  border: 5px solid #ccc;
  border-radius: 25px;
  background-color: white;
  max-width: 550px;
  max-height: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.title_habit {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 25px;
  border-bottom: 5px solid #ccc;
  text-align: center;
}

.label_habit {
  font-family: "Merriweather Sans", sans-serif;
}

.habit_selector {
  display: flex;
  margin: auto;
}

.habit_submit {
  display: flex;
  margin: auto;
  width: 60%;
  border: 5px solid #ccc;
  border-radius: 25px;
  height: 50px;
  padding: 10px 100px;
  margin-top: 30px;
  background-color: #2b7a78;
  color: white;
  cursor: pointer;
  opacity: 0.9;
}

.habitSelect {
  display: flex;
}

input[type="checkbox"][id="waterHabit"] {
  display: none;
}
input[type="checkbox"][id="sleepHabit"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: flex;
  position: relative;
  margin: auto;
  cursor: pointer;
  width: 57%;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

/* --------------------------- Org Page ------------------------------- */

#org-main {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#leaderboard-container {
  position: relative;
  overflow: hidden;
  width: 30%;
  height: 70vh;
  background-color: rgb(187, 186, 186);
  border-radius: 20px;
  border: #3aafa988 solid 10px;
}

#inner-container {
  width: 200%;
  height: 100%;
  display: flex;
  overflow-y: hidden;
  transform: translate(calc(var(--i) / 2 * -100% + var(--drag)));
  transition: transform 2s cubic-bezier(0.175, 0.885, 0.32, 1.2);
}

#Item1 {
  background-color: aqua;
  width: 50%;
  pointer-events: none;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: papayawhip;
  width: 50%;
  pointer-events: none;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#aside {
  height: 70vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#above {
  width: 100%;
  height: 20vh;
  background-color: rgb(187, 186, 186);
  border-radius: 20px;
  border: #3aafa988 solid 10px;
}

#user-card {
  width: 100%;
  height: 40vh;
  background-color: rgb(187, 186, 186);
  border-radius: 20px;
  border: #3aafa988 solid 10px;
}

.leaderboard-bar {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 10%;
  border-radius: 10px;
  background-color: rgb(187, 186, 186);
}
